<!DOCTYPE html>
<html>
<head>
    <title>试卷名称</title>
		<#include "/header.html">
</head>
<body>
<div class="container">
    <div class="row" style="border-top: 0px; padding-top: 0px;">
        <form class="form-horizontal" style="padding-top: 0px;">
            <div class="form-group">
                <div class="col-sm-2 control-label">试卷题目</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="examPaper.name" style="width: 700px;" placeholder="试卷题目，必填项"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">时长</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="examPaper.duration" placeholder="时长"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">分值</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="examPaper.score" placeholder="分值"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">所属区域</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="examPaper.score" placeholder="所属区域"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">考试类型</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="examPaper.score" placeholder="考试类型"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">描述</div>
                <div class="col-sm-10">
                    <textarea class="form-control"name="examPaper.descr" style="width: 600px;" placeholder="描述"></textarea>
                </div>
            </div>
        </form>
        <div style="margin: auto">
            <a class="btn btn-primary" onclick="javascript:void(0);"><i class="fa fa-plus"></i>&nbsp;保存</a>
            <a class="btn btn-default" onclick="javascript:void(0);"><i class="fa fa-plus"></i>&nbsp;重置</a>
            <a class="btn btn-default" onclick="javascript:void(0);"><i class="fa fa-plus"></i>&nbsp;添加试题类型</a>
        </div>
    </div>
    <div class="row" style="border-top: 0px; padding-top: 0px;">
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
        <p>ddddddd</p>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/exampaper.js?_${.now?long}"></script>
</body>
</html>